h1 {
    color: #6c2eb9;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

table {
    border: 1px solid;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
}

th, td {
    border: 1px solid;
    border-color: rgb(212, 212, 212);
    padding: 10px;
}

th {
    font-weight: normal;
    width: 200px;
}

thead {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tbody tr:nth-child(even) {
    background-color: white;
}
