{% extends 'index.html' %}
{% load django_bootstrap5 %}

{% block body %}

<form action="{% if editando == True %} {% url 'tp_python_app:guardar_empleado_editado' %}{% else %} {% url 'tp_python_app:guardar_empleado' %} {% endif %}" method="post" class="form">
    {% csrf_token %}

    {% bootstrap_form empleado_editar_form %}

    {% bootstrap_button button_type="submit" content="Guardar" %}

    <a href="{% url 'tp_python_app:lista_empleados' %}" >
        <button type="button" class="btn btn-danger">Cancelar</button>
    </a>
</form>

{% endblock body %}
