<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Gestión de empleados</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet" />

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

    </head>
    <body>
        <header>
            <div class="content container d-none d-sm-block" style="text-align: center">
                <div class="row">
                    <div>
                        <div style="margin-top: 20px">
                            <h1>Gestión de empleados</h1>
                        </div>
                    </div>
                </div>
            </div>    
            <nav class="navbar navbar-expand-sm navbar-light navbar-default bg-body">
                <div class="container-fluid">
                    <a class="navbar-bar menu d-sm-none" style="text-decoration: none; color: #5251aa; font-size: 24px; margin: auto" href="#">Gestión de empleados</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbar">
                            <ul class="nav navbar-nav justify-content-center nav-pills" style="margin-top: 50px">
                                <li class="nav-item" >
                                    <a href="{% url 'tp_python_app:index' %}" class="nav-link active" style="background-color: rgb(250, 228, 232);">Inicio</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'tp_python_app:lista_empleados' %}">Listado</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'tp_python_app:crear_empleado' %}">Crear</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'tp_python_app:buscar_empleado' %}">Buscar</a>
                                </li>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                <li> 
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                </li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block body %}
            <div>
                {% if not request.user.is_authenticated %}
                <div class="content container" style="text-align: center">
                    <div class="row">
                        <div style="margin-top: 100px">
                            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="content container" style="text-align: center">
                    <div class="row">
                        <div style="margin-top: 100px">
                            <h4>Bienvenido al sistema. Elija una opción del menú superior.</h4>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </main>
        <footer>
        
        </footer>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>
