{% extends 'index.html' %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="table-responsive-lg">
            <table class="table table-striped table-bordered caption-top" border="1" table-layout="fixed" cellpadding="8" border-collapse="collapse" style="margin-top: 30px">
                <caption style="text-align: center">Datos de todos los empleados</caption>
                <thead>
                    <tr class="align-middle">
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Estado civil</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        <tr class="align-middle">
                            <th scope="row">{{ empleado.dni }}</th>
                            <th scope="row">{{ empleado.nombre }}</th>
                            <th scope="row">{{ empleado.apellido }}</th>
                            <th scope="row">{{ empleado.sexo }}</th>
                            <th scope="row">{{ empleado.usuario.email }}</th>
                            <th scope="row">{{ empleado.fecha_de_nacimiento | date:'Y-m-d' }}</th>
                            <th scope="row">{{ empleado.estado_civil }}</th>
                            <th scope="row">
                                <a href="{% url 'tp_python_app:editar_empleado' dni=empleado.dni %}" >
                                    <button type="button" class="btn btn-warning btn-rounded btn-sm px-3">
                                        <i class="fas fa-magic"></i>
                                    </button>
                                </a>
                            </th>
                            <th scope="row">
                                <a href="{% url 'tp_python_app:borrar_empleado' dni=empleado.dni %}" >
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm px-3">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                            </th>
                        </tr>
                    {% empty %}
                        <tr>
                            <th colspan="9" style="text-align: center">
                                <h3>No hay registros de empleados para mostrar</h3>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>   
</div>

{% endblock %}
