{% extends 'index.html' %}

{% block body %}

<h4>
    Datos del empleado:
</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12">
            DNI: {{ empleado.dni }} <br />
            Nombre: {{ empleado.nombre }} <br />
            Apellido: {{ empleado.apellido }} <br />
            Fecha de nacimiento: {{ empleado.fecha_de_nacimiento | date:'Y-m-d' }} <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-6">
            <div style="margin-top: 40px">
                <a href="{% url 'tp_python_app:editar_empleado' dni=empleado.dni %}" >
                    <button type="button" class="btn btn-warning btn-rounded btn-sm px-3">
                        <i class="fas fa-magic"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-6">
            <div style="margin-top: 40px">
                <a href="{% url 'tp_python_app:borrar_empleado' dni=empleado.dni %}" >
                    <button type="button" class="btn btn-danger btn-rounded btn-sm px-3">
                        <i class="fas fa-times"></i>
                    </button>
                </a>
            </div>
        </div>    
    </div>
</div>

{% endblock %}
